<h1>Shopping Cart </h1>
<div class="row col-10">
    <p>You have {{ shoppingCartItemCount }} items in your cart <button *ngIf="items.length > 0" class="float-right" (click)="clearCart()" class="btn btn-light btn-sm">Clear Cart</button></p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center" style="width: 230px;">Quantity</th>
                <th class="text-right" style="width: 200px;">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items ">
                <ng-container *ngIf="item.quantity !=0">
                    <td style="width: 80px;">
                        <div [style.backgroundImage]="'url('+item.product.imageUrl+')'" class="thumbnail"></div>
                    </td>
                    <td>{{item.product.title}}</td>
                    <td>
                        <product-quantity [product]="item.product" [shopping-cart]="carts" [items]="items"></product-quantity>
                    </td>
                    <td class="text-right">{{item.TotalPrice | currency:'INR'}}</td>
                </ng-container>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">{{ totalPrice | currency:'INR' }}</th>
            </tr>
        </tfoot>
    </table>
    <a routerLink="/check-out" *ngIf="items.length > 0" class="btn btn-primary">Check Out</a>

</div>
