/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
$theme-color:green;
body {
    padding-top: 60px;
}

.navbar-light .navbar-brand {
    color: $theme-color;
}

.list-group-item.active {
    background-color: $theme-color;
    border-color: $theme-color;
}
